/**
* @name PimpMyDiscord
* @author Gonz#0001
* @description PimpMyDiscord is an improved fork from Comfy
* @version 1.0.1
*/

@import "https://gonzyui.github.io/PimpMyDiscord/betterdiscord/main.css";
.headerPlaying-j0WQBV.header-2BwW8b,
.headerSpotify-zpWxgT.header-2BwW8b,
.headerStreaming-2FjmGz.header-2BwW8b,
.headerXbox-3G-4PF.header-2BwW8b {
  padding-bottom: 30px;
}
.headerPlaying-j0WQBV.header-2BwW8b:after,
.headerSpotify-zpWxgT.header-2BwW8b:after,
.headerStreaming-2FjmGz.header-2BwW8b:after,
.headerXbox-3G-4PF.header-2BwW8b:after {
  background: url("https://gonzyui.github.io/PimpMyDiscord/assets/wave.png");
  background-size: 250px 20px;
  animation: animate 6s linear infinite !important;
  opacity: 1 !important;
}
.header-2BwW8b:after,
.headerPlaying-j0WQBV:before,
.headerSpotify-zpWxgT:before,
.headerStreaming-2FjmGz:before,
.headerXbox-3G-4PF:before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 250px;
  height: 20px;
  z-index: -1;
  animation: animate2 4s linear infinite;
  animation-delay: 0s;
  opacity: 0.5;
}
.headerPlaying-j0WQBV:before {
  background: url("https://gonzyui.github.io/PimpMyDiscord/assets/wave_playing.png");
  background-size: 250px 20px;
}
.headerSpotify-zpWxgT:before {
  background: url("https://gonzyui.github.io/PimpMyDiscord/assets/wave_spotify.png");
  background-size: 250px 20px;
}
.headerStreaming-2FjmGz:before {
  background: url("https://gonzyui.github.io/PimpMyDiscord/assets/wave_streaming.png");
  background-size: 250px 20px;
}
.headerXbox-3G-4PF:before {
  background: url("https://gonzyui.github.io/PimpMyDiscord/assets/wave_xbox.png");
  background-size: 250px 20px;
}
:root {
	--home-icon: url(https://gonzyui.github.io/PimpMyDiscord/assets/icon.png);
  	--home-position: center;
	--home-size: 40px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 250px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 250px;
  }
  100% {
    background-position-x: 0px;
  }
}
::-webkit-scrollbar {
  display: none !important;
}
.note-3HfJZ5 {
  margin-right: 0;
}
.content-1x5b-n {
  margin: 0 !important;
  border-radius: 0;
}
.mainContent-u_9PKf {
  padding-left: 8px;
}
.member-3-YXUe,
[id*="private-channels-"] {
  margin: 0;
  max-width: unset;
}
.layout-2DM8Md {
  border-radius: 0;
  padding: 0 16px;
}
.unread-2lAfLh {
  z-index: 1;
}
.content-1LAB8Z,
.item-1tOPte {
  margin-right: 8px;
}
.scroller-2hZ97C {
  padding-left: 0;
}
.scroller-2hZ97C > .content-3YMskv,
.buttons-3JBrkn,
.messagesPopout-24nkyi {
  padding-right: 10px !important;
}
.inviteRow-2L02ae {
  border-radius: 0;
  padding-left: 15px;
}
.container-6sXIoE {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.container-6sXIoE .timeline-UWmgAx {
  position: relative !important;
}
.container-6sXIoE .bar-g2ZMIm {
  position: absolute !important;
  bottom: -6px !important;
  left: -8px !important;
  width: 240px !important;
  height: 53px !important;
  margin: 0 !important;
  -webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;
  mask-image: linear-gradient(0.25turn, #0008, #0002) !important;
  border-radius: 0 !important;
}
.barFill-Dhkah7 {
  border-radius: 0 !important;
}
.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm {
  height: 88px !important;
}
.container-6sXIoE .button-14-BFJ:hover {
  background-color: transparent !important;
}
.barFill-Dhkah7,
.timeline-UWmgAx:hover .barFill-Dhkah7 {
  background: var(--spotify-color) !important;
}
.inner-WRV6k5 {
  z-index: 1 !important;
}
.barText-lmqc5O,
.grabber-7sd5f5 {
  display: none !important;
}

:root {
  --status-background: url("https://i.imgur.com/wtfw5Jc.jpg");
  --user-buttons-spacing: 8px;
  --avatar-left: 327.5px;
  --avatar-bottom: 26.5px;
  --avatar-radius: 150px;
  --status-radius: 22px;
  --server-radius: 22px;
  --avatar-width: 100px;
  --bonfire: url("https://gonzyui.github.io/PimpMyDiscord/assets/bonfire.gif");
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --user-buttons-color: #096dc0;
  --chat-buttons: #6e85d3;
  --spotify-color: #1edc62;
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --role-circle: 8px;
  --tooltips: block;
  --discord-logo: none;
}
:root.theme-dark {
  --background-tertiary: #101320;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-primary: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-accent: #6e85d3;
  --background-message-hover: transparent;
  --background-modifier-hover: #1c2030;
  --background-modifier-active: #1a1e2e;
  --background-modifier-selected: #191f2e;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
}

.theme-light {
  --background-tertiary: #101320;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-primary: #23283d;
  --background-accent: #6e85d3;
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --text-normal: #8e9297;
}
