/**
* @name PimpMyDiscord
* @author Gonz#0001
* @description PimpMyDiscord is an improved fork from Comfy
* @version 1.0.3
*/

@import "https://gonzyui.github.io/PimpMyDiscord/betterdiscord/main.css";
::-webkit-scrollbar { display: flex !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}
.container-6sXIoE { border-bottom: none !important; margin-bottom: 0 !important;}.container-6sXIoE .timeline-UWmgAx { position: relative !important;}.container-6sXIoE .bar-g2ZMIm { position: absolute !important; bottom: -6px !important; left: -8px !important; width: 240px !important; height: 53px !important;margin: 0 !important;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 88px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}

:root {
--status-background: url('https://i.imgur.com/nXG491Q.png');
--user-background: url('https://i.imgur.com/xDMuGkK.gif');
--user-buttons-spacing: 8px;
--avatar-left: 327.5px;
--avatar-bottom: 26.5px;
--avatar-radius: 66px;
--status-radius: 22px;
--server-radius: 22px;
--avatar-width: 130px;
--bonfire: url('https://gonzyui.github.io/PimpMyDiscord/assets/bonfire.gif');
--colored-emoji: grayscale(0%);
--mention-color: #dd3131;
--unread-color: #40abe9;
--mention-color-bar: #f39f9f;
--mention-color-background: #af57571f;
--mention-color-hover: #c6626226;
--user-buttons-color: #096dc0;
--chat-buttons: #40abe9;
--spotify-color: #15dd5b;
--online: #27c980;
--iddle: #f3cb47;
--dnd: #e93333;
--offline: #dededf;
--streaming: #653bad;
--role-circle: 5px;
--tooltips: block;
--discord-logo: none;
}
 
:root.theme-dark {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --background-mobile-secondary: #1e2233;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-message-hover: transparent;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;
}
 
.theme-light {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-accent: #6E85D3;
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}
